@tailwind base;
@tailwind components;
@tailwind utilities;

/* .no-scrollbar::-webkit-scrollbar {
  display: none;
} */

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

body {
  background-color: #fff8f0;
  color: #143642;
}